{% load static %}

</div>
<div class="col-xs-12 col-md-2"></div>

<div class="col-xs-12 footer-top"></div>
<div class="col-xs-12 footer">

	<div class="col-xs-2"></div>
	<div class="col-xs-8 brands">
		<div class="col-xs-12 col-md-4">
			<img src="http://fixuslasnamae.ee/static/fixus_logo.svg" alt="Fixus Lasnamäe">
		</div>
		<div class="col-xs-12 col-md-4">
			<img src="https://motoral.ee/public/images/layout/motoral-logo.png" alt="Motoral">
		</div>
		<div class="col-xs-12 col-md-4">
			<img src="http://emartauto.ee/static/Emart_Auto-logo.png" alt="Emart Auto">
		</div>
	</div>
	<div class="col-xs-2"></div>
</div>


<script type="text/javascript" src="{% static 'all.js' %}"></script>
</body>

</html>